<style>

div#tlogins a.label.label-primary.fl {
    display: none;
}
div#tlogins .hand.nosel.fl.uzr.border {
    width: 76%!important;
	margin-top: 5px!important;
}

div#tlogins img.fl.u-ico {
    float: right;
    margin-right: -158px;
    margin-top: 5px;
    width: 30px;
    max-height: 30px;
}
div#tlogins img.fitimg.fl.u-pic {
    float: right;
    margin-right: -43px;
    border: 1px solid;
    border-radius: 3px;
}
div#tlogins .fl.mini.u-msg {
    display: none;
}
div#tlogins img.fr.co {
    display: none;
}
div#tlogins span.corner.u-topic.dots {
    margin-top: 8px!important;
    float: right;
    margin-right: -100px!important;
}
div#tlogins .hand.nosel.fl.uzr.border {
    width: 76%!important;
    margin-top: 5px!important;
    border-radius: 9px!important;
}
div#tlogins label.label.label-primary.mini.fl {
    width: 34%!important;
    margin-left: 5px;
    border-radius: 5px!important;
    background-color: #c0a47c!important;
	border: 1px solid black;
	font-family: 'jazeera-light',FontAwesome;
	color: #2d2d2d;
	padding: 0 5px;
}
div#tlogins .fr.borderg {
    background-color: #c0a47c!important;
    color: #2d2d2d;
    border-radius: 5px;
	border: 1px solid black;
	font-family: 'jazeera-light',FontAwesome;
	padding: 0 2px!important;
	width: 45%;
    text-align: center;
}
div#tlogins .fr.borderg a {
    color: #2d2d2d;
}
div#tlogins span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    background-color: white;
    color: #c0a47c;
    border-radius: 32px;
}
div#tlogins label.fl.label.loginstat.label-success {
    background-color: #c0a47c!important;
    border-radius: 5px!important;
    padding: 3px 4px 5px;
    border: 1px solid black;
    font-family: 'jazeera-light',FontAwesome;
    color: #2d2d2d;
    width: 17%;
    text-align: center;
}
div#tlogins {
    background-color: #ecdfbd;
	border-right: 3px solid #c0a47c;
    border-left: 3px solid #c0a47c;
    border-bottom: 3px solid #c0a47c;
    border-radius: 0 0 15px 15px;
}
div#tlogins ul.nav.nav-tabs li {
    width: 33.3%;
    background: #bfa579;
    border: 1px solid;
    margin-top: 1px;
    border-radius: 20px 20px 0 0;
}
div#tlogins ul.nav.nav-tabs li a {
    text-align: center;
    background-color: #2d2d2d;
    margin-top: 3px;
    border-radius: 15px 15px 0 0;
	width: 100%;
	color: white;
	font-family: 'jazeera',FontAwesome;
    padding: 6px 0px!important;
    font-size: 14px !important;
}
div#tlogins ul.nav.nav-tabs li.active a {
    background-color: #bfa579;
	color: white;
}
div#tlogins ul.nav.nav-tabs li.active {
    background: #2d2d2d;
}
div#tlogins div#l1  {
    border-top: 1px solid;
    margin-top: 2px;
    border-bottom: 1px solid;
    margin-bottom: 2px;
	padding: 18px 2px 0px !important;
	background-image: url(https://iqr30.com/sico/z1ckqkkuh610.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 64px;
}
div#tlogins div#l2 ,div#l3 {
    border-top: 1px solid;
    margin-top: 2px;
    border-bottom: 1px solid;
    margin-bottom: 2px;
	padding: 4px 2px 4px !important;
	background-image: url(https://iqr30.com/sico/z1ckqkkuh610.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 64px;
}
div#tlogins div#l1 br {
    display: none;
}
div#tlogins #w99w1 {
    font-family: 'jazeera-light',FontAwesome;
    margin-bottom: -3px;
    background-color: #2d2d2d;
    height: 28px;
    color: #ecdfbd;
    border-radius: 0;
    border-bottom: 2px solid #2d2d2d;
    border-top: 2px solid #2d2d2d;
    padding-bottom: 2px!important;
    text-shadow: 2px 0px 8px rgba(255,255,219) , 0px 2px 10px #fff !important;
    width: 100%;
}

div#tlogins #w99w2 {
    border-bottom: 27px solid #efe1ba;
    border-left: 27px solid transparent;
    height: 0;
    width: 98px;
    float: right;
    margin-top: -32px;
    position: relative;
}
div#tlogins #w99w3 {
    border-bottom: 27px solid #c0a47c;
    border-left: 27px solid transparent;
    height: 0;
    width: 90px;
    float: right;
    margin-top: -32px;
    position: relative;
}
div#tlogins #w99w4 {
    padding: 3px 0;
    text-align: right;
    margin-right: 2px;
	font-family: 'jazeera',FontAwesome;
}
div#tlogins .w99w5 {
    border-bottom: 29px solid #efe1ba;
    border-left: 27px solid transparent;
    height: 0px;
    width: 100%;
	padding-right: 5px;
}
div#tlogins .a {
    background-color: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    font-family: 'jazeera',FontAwesome;
    padding: 2px 10px 2px 10px;
    margin: 7px 10px 7px 10px;
    color: #d0046f;
}
div#tlogins .a2 {
    background-color: #efe1ba;
	border-radius: 15px 15px 15px 0px;
    font-family: 'jazeera',FontAwesome;
    padding: 1px 10px 7px 10px;
    margin: 7px 10px 7px 0px;
    color: #d0046f;
}
.a3 {
    z-index: 1001;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    font-family: 'jazeera',FontAwesome;
    padding: 2px 2px 2px 2px;
    margin: 0;
    color: #2d2d2d;
    position: absolute;
    margin-top: -20px;
    font-size: 14px!important;
    text-align: center;
    width: 383px;
    bottom: 3px;
}
div#tlogins .a4 {
    float: right;
    width: 100%;
    margin-bottom: -7px;
}
div#tlogins ul.nav.nav-tabs {
    background-color: #ffffff00!important;
}

div#tlogins .lonline.light.break {
    /*background-image: url(IMG_20180706_210852.jpg); */
    background-size: cover;
    background-color: #ecdfbd;
	outline: none!important;
}
div#tlogins input#u1 ,input#u2 ,input#u3 ,input#pass1 ,input#pass2{
    font-family: 'jazeera',FontAwesome;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #c0a47c;
    color: #ffffff;
    background-color: #2d2d2d;
    width: 54%;
	
}
div#tlogins div#l1 button.btn.btn-primary ,div#l2 button.btn.btn-primary,div#l3 button.btn.btn-primary{
    font-family: 'jazeera',FontAwesome;
    padding: 0px 5px 2px;
    margin-top: 0px;
    color: #ecdfbd;
}
div#tlogins div#l2 .checkbox {
    margin-top: -25px!important;
    position: fixed;
    margin-left: -46px!important;
}
div#tlogins div#l2 .checkbox label {
    font-family: 'jazeera',FontAwesome;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border: 71px none #ffffff;
  border-radius: 31px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f00;
}

::-webkit-scrollbar-thumb:active {
  background: #808;
}

::-webkit-scrollbar-track {
  background: #eee;
  border: 65px none #ffffff;
  border-radius: 34px;
}

::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-track:active {
  background: #aaa;
}

::-webkit-scrollbar-corner {
  background: transparent;
}












img.fr.co {
    display: none;
}</style>
